
@model GestionGeneral_ASP.Models.ViewModels.ClsPersonaConListaDepartamentos




@{
    ViewData["Title"] = "Editar Persona";
}

<h2>Editar Persona</h2>

<form method="post">

    <div class="form-group">
        <input type="text" asp-for="Nombre" class="control-label"></input>
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="text" asp-for="Apellido" class="control-label"></input>
        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="text" asp-for="FechaNac" class="control-label"></input>
        @Html.TextBoxFor(model => model.FechaNac, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        <span asp-validation-for="FechaNac" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="text" asp-for="Direccion" class="control-label"></input>
        @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control" })
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="text" asp-for="Telefono" class="control-label"></input>
        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="text" asp-for="IdDepartamento" class="control-label"></input>
        <select asp-for="IdDepartamento" class="form-control">
            <option value="">Seleccione un departamento</option>
            @foreach (var departamento in Model.ListadoDepartamentos)
            {
                <!--
                    if (Model.IdDepartamento == departamento.Id)
                {
                        <option value="departamento.Id" selected=> departamento.Nombre</option>
                }
                else
                {
                        <option value="departamento.Id">departamento.Nombre</option>
                }
                -->
                <!-- selected puede considerarse como selected o null asi que si haces esta comprobacion puede -->
                <option value="departamento.Id" selected="@(Model.Id == departamento.Id ? "selected" : null)"> @departamento.Nombre </option>
            }
        </select>
        <span asp-validation-for="IdDepartamento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" action="@Url.Action("Saludo","Home")">Guardar</button>
    </div>
</form>

<a asp-action="Index">Volver al Listado</a>
